.side-button {
    position: absolute;
    z-index: $layer-side-button;

    @include flex(center, center, column);
}

.side-button-item {
    // background-color: red;
    width: 9em;
    height: 9em;
}

.side-button-item-icon {
    width: 100%;
    height: 100%;
}

.landscape {
    .side-button {
        left: 4em;
        bottom: 10em;

        gap: 4em;
    }
}

.portrait {
    .side-button {
        right: 2em;
        bottom: 163em;

        gap: 2em;
    }
}