$layer-background: 1;
$layer-streaming: 2;
$layer-background-layer: 3;
$layer-table-bet: 4;
$layer-header: 5;
$layer-footer: 6;
$layer-side-button: 7;
$layer-action-button: 8;

// color
$blue: #186ecb;
$red: #ff0000;
$yellow: #ba9900;

// landscape
$font-normal-landscape: 2.5em;

// portrait
$font-normal-portrait: 2.5em;